@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans &display=swap");

html,
body {
  max-width: 500px;
  margin: 20px auto;
  padding: 0 10px;
  font: 18px -apple-system, BlinkMacSystemFont;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 10px;
}

#title {
  font-family: "Merriweather", serif;
}

.project {
  margin: 40px auto;
}

.project p {
  margin-bottom: 0;
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}
